#set($saveSuffix="SaveDTO")
#set($updateSuffix="UpdateDTO")
#set($pageSuffix="PageDTO")
#set($voSuffix="VO")
#set($classSuffix=".class")
#set($entity=$!{table.entityName})
#set($substringLength=$entity.length() - 6)
#set($str=$entity.substring(0,$substringLength))
#set($impl=$!{table.serviceImplName})
#set($serviceImplName=$impl.substring(0,1).toLowerCase() + ${impl.substring(1)})
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package.Mapper}.${table.mapperName}">

    #if(${enableCache})
        <!-- 开启二级缓存 -->
        <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    #end
    #if(${baseResultMap})
        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="${package.Entity}.${entity}">
            #foreach($field in ${table.fields})
                #if(${field.keyFlag})##生成主键排在第一位
                    <id column="${field.name}" property="${field.propertyName}"/>
                #end
            #end
            #foreach($field in ${table.commonFields})##生成公共字段
                <result column="${field.name}" property="${field.propertyName}"/>
            #end
            #foreach($field in ${table.fields})
                #if(!${field.keyFlag})##生成普通字段
                    <result column="${field.name}" property="${field.propertyName}"/>
                #end
            #end
        </resultMap>
    #end

    #if(${baseColumnList})
        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            #foreach($field in ${table.commonFields})
                ${field.columnName},
            #end
            ${table.fieldNames}
        </sql>

    #end

    <!-- 需要去掉最后一个字段的,逗号-->
    <!--
    <insert id="insert" parameterType="${package.Parent}.dto.$!str$!saveSuffix">
        INSERT INTO ${table.name} (
            #foreach($field in ${table.commonFields})
                #if(${field.keyFlag})##取公共字段的主键，生成主键排在前面
                    ${field.name},
                #end
            #end
            #foreach($field in ${table.fields})
                #if(${field.keyFlag})##取普通字段的主键，生成主键排在前面
                    ${field.name},
                #end
            #end
            #foreach($field in ${table.fields})
                #if(!${field.keyFlag})##生成普通字段
                    ${field.name},
                #end
            #end
            #foreach($field in ${table.commonFields})##生成公共字段
                #if(!${field.keyFlag})##生成普通字段
                    ${field.name},
                #end
            #end
        ) VALUES (
        #foreach($field in ${table.commonFields})
            #if(${field.keyFlag})##生成主键排在第一位
                #{${field.propertyName}},
            #end
        #end
        #foreach($field in ${table.fields})
            #if(${field.keyFlag})##生成主键排在第一位
                #{${field.propertyName}},
            #end
        #end
        #foreach($field in ${table.fields})
            #if(!${field.keyFlag})##生成普通字段
                #{${field.propertyName}},
            #end
        #end
        #foreach($field in ${table.commonFields})##生成公共字段
            #if(!${field.keyFlag})##生成普通字段
                #{${field.propertyName}},
            #end
        #end
        )
    </insert>
    -->

    <!--
    <update id="update" parameterType="${package.Parent}.dto.$!str$!updateSuffix">
        UPDATE ${table.name}
        <set>
        #foreach($field in ${table.fields})
            #if($field.columnType == 'STRING')
            <if test="${field.propertyName} != null and ${field.propertyName} != ''">
                ${field.columnName} = #{${field.propertyName}},
            </if>
            #else
            <if test="${field.propertyName} != null">
                ${field.columnName} = #{${field.propertyName}},
            </if>
            #end
        #end
        #foreach($field in ${table.commonFields})##生成公共字段
            #if(!${field.keyFlag})
                #if(${table.commonFields.size()}==(${foreach.index}+1))
                    #if($field.columnType == 'STRING')
                    <if test="${field.propertyName} != null and ${field.propertyName} != ''">
                        ${field.columnName} = #{${field.propertyName}}
                    </if>
                    #else
                    <if test="${field.propertyName} != null">
                        ${field.columnName} = #{${field.propertyName}}
                    </if>
                    #end
                #else
                    #if($field.columnType == 'STRING')
                    <if test="${field.propertyName} != null and ${field.propertyName} != ''">
                        ${field.columnName} = #{${field.propertyName}},
                    </if>
                    #else
                    <if test="${field.propertyName} != null">
                        ${field.columnName} = #{${field.propertyName}},
                    </if>
                    #end
                #end
            #end
        #end
        </set>
        WHERE 1 = 1
        #foreach($field in ${table.fields})
            #if(${field.keyFlag})
                AND ${field.name} = #{${field.propertyName}}
            #end
        #end
        #foreach($field in ${table.commonFields})
            #if(${field.keyFlag})
                AND ${field.columnName} = #{${field.propertyName}}
            #end
        #end
    </update>
    -->

    <!--
    <select id="list" resultMap="BaseResultMap" parameterType="${package.Parent}.dto.CommonPageListDTO">
        SELECT * FROM ${table.name} WHERE 1 = 1
    #foreach($field in ${table.fields})
        #if($field.columnType == 'STRING')
            <if test="${field.propertyName} != null and ${field.propertyName} != ''">
                AND ${field.columnName} = #{${field.propertyName}}
            </if>
        #else
            <if test="${field.propertyName} != null">
                AND ${field.columnName} = #{${field.propertyName}}
            </if>
        #end
    #end
    </select>
    -->
</mapper>
