<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjh.recording.system.user.mapper.TransactionRecordMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.zjh.recording.system.user.entity.TransactionRecordEntity">
                <result column="id" property="id"/>
                <result column="created_time" property="createdTime"/>
                <result column="updated_time" property="updatedTime"/>
                <result column="created_by" property="createdBy"/>
                <result column="created_username" property="createdUsername"/>
                <result column="updated_by" property="updatedBy"/>
                <result column="updated_username" property="updatedUsername"/>
                <result column="deleted" property="deleted"/>
                <result column="remark" property="remark"/>
                <result column="version" property="version"/>
                    <result column="shop_id" property="shopId"/>
                    <result column="account_id" property="accountId"/>
                    <result column="order_id" property="orderId"/>
                    <result column="mode" property="mode"/>
                    <result column="order_amount" property="orderAmount"/>
                    <result column="count" property="count"/>
                    <result column="payment_type" property="paymentType"/>
                    <result column="cover_amount" property="coverAmount"/>
                    <result column="goods_nos" property="goodsNos"/>
                    <result column="agreed_commission" property="agreedCommission"/>
                    <result column="actual_commission" property="actualCommission"/>
                    <result column="status" property="status"/>
                    <result column="return_flag" property="returnFlag"/>
                    <result column="return_postage" property="returnPostage"/>
                    <result column="total_expenditure" property="totalExpenditure"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                id,
                created_time,
                updated_time,
                created_by,
                created_username,
                updated_by,
                updated_username,
                deleted,
                remark,
                version,
            shop_id, account_id, order_id, mode, order_amount, count, payment_type, cover_amount, goods_nos, agreed_commission, actual_commission, status, return_flag, return_postage, total_expenditure
        </sql>


    <!-- 需要去掉最后一个字段的,逗号-->
    <!--
    <insert id="insert" parameterType="com.zjh.recording.system.user.dto.TransactionRecordSaveDTO">
        INSERT INTO transaction_record (
                    id,
                    shop_id,
                    account_id,
                    order_id,
                    mode,
                    order_amount,
                    count,
                    payment_type,
                    cover_amount,
                    goods_nos,
                    agreed_commission,
                    actual_commission,
                    status,
                    return_flag,
                    return_postage,
                    total_expenditure,
                    created_time,
                    updated_time,
                    created_by,
                    created_username,
                    updated_by,
                    updated_username,
                    deleted,
                    remark,
                    version,
        ) VALUES (
                #{id},
                #{shopId},
                #{accountId},
                #{orderId},
                #{mode},
                #{orderAmount},
                #{count},
                #{paymentType},
                #{coverAmount},
                #{goodsNos},
                #{agreedCommission},
                #{actualCommission},
                #{status},
                #{returnFlag},
                #{returnPostage},
                #{totalExpenditure},
                #{createdTime},
                #{updatedTime},
                #{createdBy},
                #{createdUsername},
                #{updatedBy},
                #{updatedUsername},
                #{deleted},
                #{remark},
                #{version},
        )
    </insert>
    -->

    <!--
    <update id="update" parameterType="com.zjh.recording.system.user.dto.TransactionRecordUpdateDTO">
        UPDATE transaction_record
        <set>
            <if test="shopId != null">
                shop_id = #{shopId},
            </if>
            <if test="accountId != null">
                account_id = #{accountId},
            </if>
            <if test="orderId != null and orderId != ''">
                order_id = #{orderId},
            </if>
            <if test="mode != null">
                mode = #{mode},
            </if>
            <if test="orderAmount != null">
                order_amount = #{orderAmount},
            </if>
            <if test="count != null">
                count = #{count},
            </if>
            <if test="paymentType != null">
                payment_type = #{paymentType},
            </if>
            <if test="coverAmount != null">
                cover_amount = #{coverAmount},
            </if>
            <if test="goodsNos != null and goodsNos != ''">
                goods_nos = #{goodsNos},
            </if>
            <if test="agreedCommission != null">
                agreed_commission = #{agreedCommission},
            </if>
            <if test="actualCommission != null">
                actual_commission = #{actualCommission},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="returnFlag != null">
                return_flag = #{returnFlag},
            </if>
            <if test="returnPostage != null">
                return_postage = #{returnPostage},
            </if>
            <if test="totalExpenditure != null">
                total_expenditure = #{totalExpenditure},
            </if>
                    <if test="createdTime != null">
                        created_time = #{createdTime},
                    </if>
                    <if test="updatedTime != null">
                        updated_time = #{updatedTime},
                    </if>
                    <if test="createdBy != null">
                        created_by = #{createdBy},
                    </if>
                    <if test="createdUsername != null and createdUsername != ''">
                        created_username = #{createdUsername},
                    </if>
                    <if test="updatedBy != null">
                        updated_by = #{updatedBy},
                    </if>
                    <if test="updatedUsername != null and updatedUsername != ''">
                        updated_username = #{updatedUsername},
                    </if>
                    <if test="deleted != null">
                        deleted = #{deleted},
                    </if>
                    <if test="remark != null and remark != ''">
                        remark = #{remark},
                    </if>
                    <if test="version != null">
                        version = #{version}
                    </if>
        </set>
        WHERE 1 = 1
                AND id = #{id}
    </update>
    -->

    <!--
    <select id="list" resultMap="BaseResultMap" parameterType="com.zjh.recording.system.user.dto.CommonPageListDTO">
        SELECT * FROM transaction_record WHERE 1 = 1
            <if test="shopId != null">
                AND shop_id = #{shopId}
            </if>
            <if test="accountId != null">
                AND account_id = #{accountId}
            </if>
            <if test="orderId != null and orderId != ''">
                AND order_id = #{orderId}
            </if>
            <if test="mode != null">
                AND mode = #{mode}
            </if>
            <if test="orderAmount != null">
                AND order_amount = #{orderAmount}
            </if>
            <if test="count != null">
                AND count = #{count}
            </if>
            <if test="paymentType != null">
                AND payment_type = #{paymentType}
            </if>
            <if test="coverAmount != null">
                AND cover_amount = #{coverAmount}
            </if>
            <if test="goodsNos != null and goodsNos != ''">
                AND goods_nos = #{goodsNos}
            </if>
            <if test="agreedCommission != null">
                AND agreed_commission = #{agreedCommission}
            </if>
            <if test="actualCommission != null">
                AND actual_commission = #{actualCommission}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="returnFlag != null">
                AND return_flag = #{returnFlag}
            </if>
            <if test="returnPostage != null">
                AND return_postage = #{returnPostage}
            </if>
            <if test="totalExpenditure != null">
                AND total_expenditure = #{totalExpenditure}
            </if>
    </select>
    -->
</mapper>
